<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roadjava.market.mapper.RefundMapper">
  <resultMap id="refundVOMap" type="refundVO" autoMapping="true">
    <id property="id" column="id"/>
    <collection property="detailList" resultMap="refundDetailVOMap"
                ofType="PurchaseDetailVO"/>
  </resultMap>

  <resultMap id="refundDetailVOMap" type="refundDetailVO" autoMapping="true">
    <id property="id" column="detailId"/>
  </resultMap>
  <sql id="columnComm">
    select
    a.*,
    b.order_no,
    <!--1对多的字段-->
    c.id detailId,
    c.refund_id,
    c.goods_id,
    c.refund_price,
    c.num,
    d.name as goodsName,
    d.unit
  </sql>
  <sql id="additionalTable">
    left join sale_order b on a.order_id = b.id
    <!--1对多的表-->
    left join refund_detail c on c.refund_id = a.id
    left join goods d on d.id = c.goods_id
  </sql>

  <sql id="pageWhere">
    <where>
      <if test='fuzzyRefundNo != null and fuzzyRefundNo !=""'>
        a.refund_no like concat('%',#{fuzzyRefundNo},'%')
      </if>
    </where>
  </sql>

  <select id="queryList" resultMap="refundVOMap">
    <include refid="columnComm"/>
    from (
      select a.* from refund a
      <include refid="pageWhere"></include>
      order by a.id desc
      limit #{start},#{pageSize}
    ) a
    <include refid="additionalTable"/>
  </select>

  <select id="queryCount" resultType="long">
    select count(*) from refund a
    <include refid="pageWhere"></include>
  </select>

</mapper>
