# vscode ide需要安装EditorConfig for VS Code插件后重启即可
root = true

[*]
charset = utf-8
indent_style = space # 缩进风格（tab | space）
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false